<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Crear sc matrimonio</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Crear contrato</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Crear contrato</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="center-align content">
            <div class="row">
                <div class="col l8 s12 offset-l2 offset-l2">
                    <div class="row">
                        <div class="col l12 m8 s12 offset-m2">
                            <div class="card z-depth-3">
                                <form id="smart-form" method="POST">
                                    <div class="card-content">
                                        <div class="row">                                            
                                            <div class="card-title">Datos del matrimonio</div>
                                            <div class="input-field col s12">
                                                <input id="contractName" name="contractName" class="isInput" type="text">
                                                <label for="contractName">Nombre del contrato de matrimonio</label>
                                                <div class="col s12">
                                                    <span class="red-text contractName-error error"></span>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m6 l6">
                                                <input id="proposer" name="proposer" class="isInput" type="text">
                                                <label for="proposer">Direcci&oacute;n wallet del proponente</label>
                                                <div class="col s12">
                                                    <span class="red-text proposer-error error"></span>
                                                </div>
                                            </div>                                            
                                            <div class="input-field col s12 m6 l6">
                                                <input id="proposed" name="proposed" class="isInput" type="text">
                                                <label for="proposed">Direcci&oacute;n wallet del destinatario</label>
                                                <div class="col s12">
                                                    <span class="red-text proposed-error error"></span>
                                                </div>
                                            </div>      
                                            <div class='row'>
                                                <div class="input-field col s12">
                                                    <select id='marriage_regimen' name="marriage_regimen">
                                                        <option value="" disabled selected>Elegir r&eacute;gimen</option>
                                                        <option value="0">Bienes mancomunados</option>
                                                        <option value="1">Separación de bienes</option>                                                        
                                                    </select>
                                                    <label>Elegir r&eacute;gimen</label>
                                                </div>
                                                <div class="col s12">
                                                    <span class="red-text marriage_regimen-error error"></span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="input-field col s12">
                                                    <textarea id="conditions" name="conditions" class="materialize-textarea"></textarea>
                                                    <label for="conditions">Acuerdos</label>
                                                    <div class="col s12">
                                                        <span class="red-text conditions-error error"></span>
                                                    </div>
                                                </div>
                                            </div>                                            

                                        </div>
                                        <div class="right-align">
                                            <a id="cancel-request" href="/" class="waves-effect waves-light btn modal-action cancel_modal red darken-3">Cancelar</a>                        
                                            <a id="create_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Crear</a>    
                                        </div>
                                    </div>


                                    <div id="modal-password" class="modal modal-for-use modal-fixed-footer">
                                        <div class="modal-content">
                                            <div class="progress">
                                                <div class="indeterminate"></div>
                                            </div>
                                            <h5>Para continuar ingrese su contrase&ntilde;a</h5>
                                            <br>
                                            <div class="input-field col l10 m10 s12 offset-l1 offset-m1">
                                                <i class="material-icons prefix">lock</i>
                                                <input id="password_main" name="password_main" type="password">
                                                <label for="password_main">Contrase&ntilde;a</label>
                                                <div class="col s12">
                                                    <span class="red-text details-error error"></span>
                                                </div>
                                            </div>                                            
                                        </div>
                                        <div class="modal-footer">
                                            <a id="cancel-contract" class="waves-effect waves-light btn modal-action modal-close red darken-3">Cancelar</a>
                                            <a id="ready_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                                        </div>
                                    </div>
                                    <input type="hidden" name="address" id="address" value="{{data.id}}">
                                </form>                                
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn">
                <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
            </div>
            <div class="tap-target darken-2 red darken-2" data-activates="message">
                <div class="tap-target-content white-text center-align">
                    <h5>Tu saldo es:</h5>
                    <p id="balance" class="white-text">Espere...</p>
                </div>
            </div>
        </main>
        <footer class="page-footer blue-grey darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>        
        <script type="text/javascript" src="/js/main.js"></script>        
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>                     
        <script type="text/javascript" src="/js/request/contracts/marriageRequestv2.js"></script>                
        <script type="text/javascript" src="/js/contracts/marriage/v2/index.js"></script>                
        <script type="text/javascript" src="/js/contracts/marriage/v2/send.js"></script>                
    </body>
</html>