<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Detalles</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Datos del matrimonio</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Datos del matrimonio</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="content">             
            <div class="center-align">
                <h5>Contrato: {{name}}</h5>
            </div>
            <div class="row">
                <div class="col l10 m10 s12 offset-l1 offset-m1">

                    <div class="row">
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <ul id="collapsible-contract" class="collapsible popout" data-collapsible="expandible">
                                <li class="get-data" data-bind="0">
                                    <div class="collapsible-header">
                                        <i class="material-icons">record_voice_over</i>Proponente
                                    </div>
                                    <div class="collapsible-body proposer-result tbl-font"></div>
                                </li>
                                <li class="get-data" data-bind="1">
                                    <div class="collapsible-header">
                                        <i class="material-icons">hearing</i>Destinatario(a)
                                    </div>
                                    <div class="collapsible-body proposed-result tbl-font"></div>
                                </li>
                                <li class="get-data" data-bind="2">
                                    <div class="collapsible-header"><i class="material-icons">border_color</i>Acuerdos</div>
                                    <div class="collapsible-body conditions-result"></div>
                                </li>                                                                    
                                <li class="get-data" data-bind="3">
                                    <div class="collapsible-header"><i class="material-icons">loyalty</i>Fecha de la propuesta</div>
                                    <div class="collapsible-body proposed-date-result"></div>
                                </li>
                                {{#ifDiff status "1"}}
                                <li class="get-data" data-bind="4">
                                    <div class="collapsible-header"><i class="material-icons">date_range</i>Fecha de la respuesta</div>
                                    <div class="collapsible-body answer-date-result"></div>
                                </li>
                                {{/ifDiff}}                                
                                {{#ifequal  status "2"}}
                                <li class="get-data" data-bind="5">
                                    <div class="collapsible-header"><i class="material-icons">monetization_on</i>Fondos</div>
                                    <div class="collapsible-body balance-result"></div>
                                </li>         
                                       
                                {{/ifequal}}
                                <li class="get-data" data-bind="6">
                                    <div class="collapsible-header"><i class="material-icons">wc</i>R&eacute;gimen</div>
                                    <div class="collapsible-body regimen-result"></div>
                                </li>  
                                {{#ifequal  status "5"}}
                                <li class="get-data" data-bind="7">
                                    <div class="collapsible-header"><i class="material-icons">gavel</i>Fecha de divorcio</div>
                                    <div class="collapsible-body divorce-result"></div>
                                </li>         
                                {{/ifequal}}
                            </ul>                            
                        </div>
                    </div>
                </div>
                <input id='id-contract' type="hidden" value="{{id}}" name="id-contract">
            </div>                        
            <div id="answer-modal" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="row center-align">
                        <h5 >¿Aceptas esta propuesta?</h5>
                        <div class="col s6">
                            <p>
                                <input name="answer-user" type="radio" id="yes" value="1"/>
                                <label for="yes">Si</label>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>
                                <input name="answer-user" type="radio" id="no" value="0"/>
                                <label for="no">No</label>
                            </p>
                        </div>
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input type="password" name="password-confirm" id="password-confirm">
                                <label for="password-confirm">Contrase&ntilde;a</label>
                            </div>                              
                        </div>
                    </div>                                                         
                </div>
                <div class="modal-footer">
                    <a id="btn-answer-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-answer-send" class="btn waves-effect waves-light blue darken-3">Aceptar</a>                    
                </div>
            </div>           
            <div id="req-divorce-modal" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="row center-align">
                        <h5 >¿En verdad deseas realizar una propuesta de divorcio?</h5>
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input type="password" name="password-divorce-req" id="password-divorce-req">
                                <label for="password-divorce-req">Contrase&ntilde;a</label>
                            </div>                              
                        </div>
                    </div>                                                         
                </div>
                <div class="modal-footer">
                    <a id="btn-divorce-req-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-divorce-req-send" class="btn waves-effect waves-light blue darken-3">Aceptar</a>                    
                </div>
            </div>           
            <div id="divorce-modal" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="row center-align">
                        <h5 >¿Aceptas esta propuesta de divorcio?</h5>
                        <div class="col s6">
                            <p>
                                <input name="answer-divorce" type="radio" id="y" value="1"/>
                                <label for="y">Si</label>
                            </p>
                        </div>
                        <div class="col s6">
                            <p>
                                <input name="answer-divorce" type="radio" id="n" value="0"/>
                                <label for="n">No</label>
                            </p>
                        </div>
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input type="password" name="password-divorce" id="password-divorce">
                                <label for="password-divorce">Contrase&ntilde;a</label>
                            </div>                              
                        </div>
                    </div>                                                         
                </div>
                <div class="modal-footer">
                    <a id="btn-divorce-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-divorce-send" class="btn waves-effect waves-light blue darken-3">Aceptar</a>                    
                </div>
            </div>

            <div id="divorce-modal-cancel" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>       
                    <h5 class="center-align">¿Deseas cancelar la solicitud de divorcio?</h5>
                    <br>
                    <div class="col s12 m10 l10 offset-l1 offset-m1">
                        <div class="input-field">
                            <input type="password" name="password-divorce-cancel" id="password-divorce-cancel">
                            <label for="password-divorce-cancel">Contrase&ntilde;a</label>
                        </div>                              
                    </div>
                </div>                                                         
                <div class="modal-footer">
                    <a id="btn-divorce-clc-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-divorce-clc-send" class="btn waves-effect waves-light blue darken-3">Aceptar</a>                    
                </div>
            </div>                
            <div class="fixed-action-btn">
                <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
            </div>
            <div class="tap-target darken-2 red darken-2" data-activates="message">
                <div class="tap-target-content white-text center-align">
                    <h5>Tu saldo es:</h5>
                    <p id="balance" class="white-text">Espere...</p>
                </div>
            </div>

        </main>
        <footer class="page-footer blue-grey darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>        
        <script type="text/javascript" src="/js/main.js"></script>        
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script type="text/javascript" src="/js/contracts/preloader.js"></script>
        <script type="text/javascript" src="/js/contracts/marriage/v2/getOwnerData.js"></script>
    </body>    
</html>