<!DOCTYPE html>
<html>    
    <head>
        <title>SC - P&aacute;gina no encontrada</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" href="/materialize/css/login.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body> 
        <header>
            <div class="fixed-announcement blue-grey darken-2">
                <nav class="top-nav blue-grey darken-4">           
                    <div class="container">                    
                        <div class="nav-wrapper">
                            <div class="center-align">
                                <span class="title-head">Sistema de contratos inteligentes</span>
                            </div>
                        </div>

                    </div>               
                </nav> 
                <div class="announcement">
                    <div class="container center">
                        <div class="center-align">
                            <span class="title-bar white-text">Error</span>
                        </div>               
                    </div>
                </div>                               
            </div>
        </header>
       <main class="valign-wrapper">          
            <div class="row center-align">
                <i class="material-icons large center-align">error_outline</i>
                <div class="col s12 center-align">
                    
                    <h1 class="center-align">404</h1>
                    <h4 class="center-align">P&aacute;gina no encontrada</h4>
                    <a href="/" class="btn waves-effect waves-light blue-grey darken-4">Volver al Inicio</a>
                </div>
            </div>
        </main>    
        <footer class="page-footer blue-grey darken-4">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script src="/js/min/color.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>        
    </body>
</html>