<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Iniciar sesi&oacute;n</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" href="/materialize/css/login.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>
        {{#if error}}
        <div id="red" class="message" data-position="top">{{error}}</div>
        {{/if}}
        <header>
            <div class="fixed-announcement blue-grey darken-2">
                <nav class="top-nav blue-grey darken-4">           
                    <div class="container">                    
                        <div class="nav-wrapper">
                            <div class="center-align">
                                <span class="title-head">Sistema de contratos inteligentes</span>
                            </div>
                        </div>

                    </div>               
                </nav> 
                <div class="announcement">
                    <div class="container center">
                        <div class="center-align">
                            <span class="title-bar white-text">Crear cuenta</span>
                        </div>               
                    </div>
                </div>                               
            </div>
        </header>
        <main>          
            <div class="row">
                    <div class="col l6 m10 s12 offset-l3 offset-m1">                        
                        <div class="card z-depth-4">

                            <form id="form-account">
                                <div class="card-content">
                                    <div class="progress">
                                        <div class="indeterminate"></div>
                                    </div>
                                    <h6>Datos personales</h6>                                
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="name_user" name="name_user" type="text" class="validate is-input">
                                            <label for="name_user">Nombre</label>
                                            <div class="col s12">
                                                <span class="red-text name_user-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="first_name" name="first_name" type="text" class="validate is-input">
                                            <label for="first_name">Apellido paterno</label>
                                            <div class="col s12">
                                                <span class="red-text first_name-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s6">
                                            <input id="last_name" name='last_name' type="text" class="validate is-input">
                                            <label for="last_name">Apellido materno</label>
                                            <div class="col s12">
                                                <span class="red-text last_name-error error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-content grey lighten-2">
                                    <h6>Datos de la cuenta</h6>                                    
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <input id="email" name="email" type="text" class="validate is-input">
                                            <label for="email">Correo </label>
                                            <div class="col s12">
                                                <span class="red-text email-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="password_user" name="password_user" type="password" class="validate is-input">
                                            <label for="password_user">Contraseña</label>
                                            <div class="col s12">
                                                <span class="red-text password_user-error error"></span>
                                            </div>
                                        </div>
                                        <div class="input-field col s12">
                                            <input id="password_confirm" name='password_confirm' type="password" class="validate is-input">
                                            <label for="password_confirm">Confirmar contraseña</label>
                                            <div class="col s12">
                                                <span class="red-text password_confirm-error error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right-align">                                            
                                        <a id="btn-cancel" href="/" class="btn red darken-4 waves-effect waves-light">Cancelar</a>
                                        <a id="btn-accept" class="btn light-blue darken-3 waves-effect waves-light">Guardar</a>                                        
                                    </div>                                        
                                </div>                                
                            </form>
                        </div>
                    </div>
                </div>            
        </main>   
        <footer class="page-footer blue-grey darken-4">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/request/createAccRequest.js"></script>
        <script type="text/javascript" src="/js/createAcc.js"></script>
    </body>
</html>