body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url('../../images/body.png') center center fixed;
    background-size: contain;
}

main {
    flex: 1 0 auto;
}

.top-space{
    margin-top: 25px;
}
.space{
    margin-bottom: 35px;
}

.second-space{
    margin-top: 15px;
}

@media only screen and (max-width:992px){

    body {
        background-size: cover;
    }

    .top-space{
        margin-top: 7px;
    }
    .space{
        margin-bottom: 0px;
    }

    .second-space{
        margin-top: 0px;
    }
}



