body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;    
}

/*.card-img{
    opacity: 0;
}*/
pag.active {
    background-color: #01579B !important;
}
.tap-target, .tap-target-wrapper {
    width: 520px !important;
    height: 520px !important;
}
.waves-effect.waves-blue .waves-ripple {
    background-color: rgba(30,144,255, 0.65);
}

.valign-text{
    vertical-align: baseline;
}

.bold{
    font-weight: bold !important;
}

main{
    margin-top: 25px;
    flex: 1 0 auto;
}

.message-hidden{
    visibility: hidden;
}
.message{
    display: none;
}

.success-msg{
    background-color: #0288d1 !important;
    color: white;
}

.error{
    font-size: 12px;
}


.no-back{
    background-color:  rgba(0, 0, 0, 0)  !important;
    box-shadow: none !important;
}

.modal.modal-fixed-footer {
    padding: 0;
    height: 25%;
    width: 40%;
}

.modal.modal-msg{
    height: 35% !important;
    width: 40%;
}

.modal.modal-msg_complete{
    height: 35% !important;
    width: 40%;
}
.head-contain{
    padding: 0 5% 5% 5%;
}

.span-balance{
    display: none;
}

.fixed-action-btn{
    right:50px;
}

.btn-more{
    right: 50px !important;
    bottom: 20px !important;
}

.mobile-accounts{
    display: none;   
}

.browser-accounts{
    display: block;
}
.content{
    padding-left: 300px;
    width: 100%;    
}

.span-mobile{
    display: none !important;
}
.title-head{
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    font-size: 30px;
}

.title-bar{
    font-family: "Roboto", sans-serif !important;
    font-weight: normal;
    font-size: 23px;
}

@media (min-width: 320px) and (max-width: 480px) {

    .title-head{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 18px;
    }

    .title-bar{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 14px;
    }

    main{
        margin-top: 12px;
        flex: 1 0 auto;
    }
    .span-balance{
        display: block;
        margin-right: 60px !important;
    }

    .span-mobile{
        display: block !important;
    }

    .mobile-accounts{
        display: block;   
    }

    .div-balance{
        display: none !important;
    }
    .browser-accounts{
        display: none;
    }
    .modal {
        height: 500vw !important;
    }

    .modal-for-use {
        top: 12% !important;
        padding: 10px;
        height:50% !important;
        width: 90% !important; 
    }
    .font-mobil{
        font-size: 22px;
    }

    .tbl-font{
        font-size:11px; 
    }
    .mini-font{
        font-size:9px; 
    }

    .content{
        padding-left: 0;
        width: 100%;
    } 

    .modal.modal-msg_complete{
        height: 25% !important;
        width: 80% !important;
    }

    .modal.modal-msg{
        height: 45% !important;
        width: 90% !important;
    }

    .btn-more{
        right: 0px !important;
        bottom: 0px !important;
    }

}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1024px){
    .title-head{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 18px;
    }

    .title-bar{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 14px;
    }

    main{
        margin-top: 12px;
        flex: 1 0 auto;
    }
    .span-balance{
        display: block;
        margin-right: 60px !important;
    }

    .span-mobile{
        display: block !important;
    }

    .mobile-accounts{
        display: block;   
    }

    .div-balance{
        display: none !important;
    }
    .browser-accounts{
        display: none;
    }
    .modal {
        height: 500vw !important;
    }

    .modal.modal-fixed-footer {
        top: 12% !important;
        padding: 0;
        height:900vw !important;
    }
    .font-mobil{
        font-size: 22px;
    }

    .tbl-font{
        font-size:11px; 
    }
    .mini-font{
        font-size:9px; 
    }

    .content{
        padding-left: 0;
        width: 100%;
    } 

    .modal.modal-msg_complete{
        height: 25% !important;
        width: 80% !important;
    }

    .modal.modal-msg{
        height: 45% !important;
        width: 90% !important;
    }

    .btn-more{
        right: 0px !important;
        bottom: 0px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;    
    }

    main{
        margin-top: 25px;
        flex: 1 0 auto;
    }

    .content{
        padding-left: 300px;
        width: 100%;    
    }


}

@media (max-width:992px) and (orientation:landscape) {
    main{
        margin-top: 18px;
    }
    .span-balance{
        display: block;
    }

    .div-balance{
        display: none !important;
    }
    
    .modal-for-use {
        top: 5% !important;
        padding: 0px;
        height:200% !important;
        width: 70% !important; 
    }


    .content{
        padding-left: 0;
        width: 100%;
    } 

    .title-head{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 18px;
    }

    .title-bar{
        font-family: "Roboto", sans-serif !important;
        font-weight: normal;
        font-size: 16px;
    }
}