<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Crear sc testamento</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Crear contrato</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Crear contrato</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="center-align content">
            <div class="row">
                <div class="col l8 s12 offset-l2 offset-m2">
                    <div class="row">
                        <div class="col l12 m8 s12 offset-m2">
                            <form id="smart-form" method="POST">
                                <div class="card z-depth-3">
                                    <div class="card-content">
                                        <div class="row">                                            
                                            <div class="card-title">Datos del testamento</div>
                                            <div class="input-field col l6 m6 s12">
                                                <input id="contractName" name="contractName" class="isInput" type="text">
                                                <label for="contractName">Nombre del testamento</label>
                                                <div class="col s12">
                                                    <span class="red-text contractName-error error"></span>
                                                </div>
                                            </div>                                            
                                            <div class="input-field col l6 m6 s12">
                                                <input id="ownerContract" name="ownerContract" class="isInput" type="text">
                                                <label for="ownerContract">Direcci&oacute;n wallet del testamentario</label>
                                                <div class="col s12">
                                                    <span class="red-text ownerContract-error error"></span>
                                                </div>
                                            </div>                   
                                            <br><br><br><br><br>
                                            <div class="col l12 s12">
                                                <table id="counterparties-tbl" class="bordered striped">
                                                    <thead>
                                                    <th>Contraparte(s)</th>
                                                    <th>
                                                        <div class="center-align">
                                                            <a id="add-counter" class="btn waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Agregar contraparte">
                                                                <i class="material-icons">add</i>
                                                            </a>
                                                            <a id="drop-counter" class="btn waves-effect waves-light red tooltipped" data-position="top" data-delay="50" data-tooltip="Eliminar contraparte">
                                                                <i class="material-icons">delete</i>
                                                            </a>
                                                        </div>
                                                    </th>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2">
                                                                <div class="input-field">
                                                                    <input id="counter" name="counter[]" type="text" class="validate">
                                                                    <label for="counter">Dirección wallet 1</label>
                                                                </div>
                                                                <div class="col s12 center-align">
                                                                    <span class="red-text counter-error error"></span>
                                                                </div>
                                                                Porcentaje                                                                
                                                                <p class="range-field">
                                                                    <input class="range-per" value="0" type="range" name="percentage[]" id="percentage" min="0" max="100" step="1" />
                                                                </p>               
                                                                <div class="col s12 center-align">
                                                                    <span class="red-text percentage-error error"></span>
                                                                </div>
                                                            </td>
                                                        </tr>                                                        
                                                    </tbody>
                                                </table>
                                                <div class="row">
                                                    <br>
                                                    <div class="col s6 push-s6">
                                                        <span id="total-span">Total (%): </span>
                                                        <span id="total-percent"> 0</span>
                                                    </div>
                                                    <div class="col s6 pull-s6">
                                                        <span class="red-text total-percent-in-error error"></span>
                                                    </div>
                                                    <input type="hidden" name="total-percent-in" id="total-percent-in">
                                                </div>
                                                <br>
                                                <div class="section">
                                                    <div class="divider"></div>
                                                    <p>Despues de determinado tiempo de no verificar que esta vivo, se considera que el testamentario 
                                                        ha muerto, ¿Despues de cuanto tiempo desea que esto suceda?</p>
                                                    <div class="row">
                                                        <br>
                                                        <div class="col s8 offset-l2">                                                            
                                                            <div class="input-field">
                                                                <input class="" id="seconds" name="seconds" type="number">
                                                                <label for="seconds">Tiempo (Segundos)</label>
                                                            </div>
                                                            <div class="center-align">
                                                                    <span class="red-text seconds-error error"></span>
                                                            </div>
                                                        </div>
                                                    </div>                                                                                                        
                                                </div>                                                
                                            </div>
                                            <div class="col s12 l10 m10 offset-l1 offset-m1">
                                                <div class="input-field">
                                                    <textarea id="conditions" name="conditions" class="isInput materialize-textarea"></textarea>
                                                    <label for="conditions">Condiciones</label>
                                                    <div class="col s12">
                                                        <span class="red-text conditions-error error"></span>
                                                    </div>
                                                </div>                                                                                                 
                                            </div>

                                        </div>
                                        <br> 
                                        <div class="right-align">
                                            <a id="cancel-request" href="/" class="waves-effect waves-light btn modal-action cancel_modal red darken-3">Cancelar</a>
                                            <a id="create_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Crear</a>    
                                        </div>

                                    </div>

                                </div>


                                <div id="modal-password" class="modal modal-for-use modal-fixed-footer ">
                                    <div class="modal-content">
                                        <div class="progress">
                                            <div class="indeterminate"></div>
                                        </div>
                                        <h5>Para continuar ingrese su contrase&ntilde;a</h5>
                                        <br>
                                        <div class="input-field col l10 m10 s12 offset-l1 offset-m1">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="password_main" name="password_main" type="password">
                                            <label for="password_main">Contrase&ntilde;a</label>
                                            <div class="col s12">
                                                <span class="red-text details-error error"></span>
                                            </div>
                                        </div>                                            
                                    </div>
                                    <div class="modal-footer">
                                        <a class="waves-effect waves-light btn modal-action modal-close red darken-3">Cerrar</a>
                                        <a id="ready_contract" href="#!" class="modal-action waves-effect waves-light btn blue darken-2">Aceptar</a>
                                    </div>
                                </div>
                                <input type="hidden" name="address" id="address" value="{{data.id}}">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fixed-action-btn">
            <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
        </div>
        <div class="tap-target darken-2 red darken-2" data-activates="message">
            <div class="tap-target-content white-text center-align">
                <h5>Tu saldo es:</h5>
                <p id="balance" class="white-text">Espere...</p>
            </div>
        </div>

    </main>
    <footer class="page-footer blue-grey darken-4 content">
        <div class="container">
        </div>
        <div class="footer-copyright">
            <div class="container center-align">
                2018
            </div>
        </div>
    </footer>
    <script src="/js/min/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="/js/contracts/index.js"></script>
    <script type="text/javascript" src="/js/messages.js"></script>
    <script type="text/javascript" src="/js/toClipBoard.js"></script>
    <script type="text/javascript" src="/js/logout.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script src="/js/min/jquery.validate.min.js"></script>
    <script src="/js/min/additional-methods.min.js"></script>
    <script type="text/javascript" src="/js/contracts/lastWill/v2/lastWill.js"></script>
    <script type="text/javascript" src="/js/contracts/lastWill/v2/send.js"></script>
    <script type="text/javascript" src="/js/request/contracts/lastWillRequestv2.js"></script>
</body>
</html>