<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Detalles</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <script src="/js/min/socket.io.js"></script>
        <script src="/js/socket-index.js"></script>
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Datos del testamento</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Datos del testamento</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="content">             
            <div class="center-align">
                <h5>Contrato: {{name}}</h5>
            </div>
            <div class="row">
                <div class="col l10 m10 s12 offset-l1 offset-m1">

                    <div class="row">
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <ul id="collapsible-contract" class="collapsible popout" data-collapsible="expandible">
                                <li class="get-data" data-bind="0">
                                    <div class="collapsible-header">
                                        <i class="material-icons">account_circle</i>Due&ntilde;o del testamento
                                    </div>
                                    <div class="collapsible-body owner-result tbl-font"></div>
                                </li>
                                <li class="get-data" data-bind="1">
                                    <div class="collapsible-header"><i class="material-icons">copyright</i>Condiciones del testamento</div>
                                    <div class="collapsible-body conditions-result"></div>
                                </li>    
                                <li class="get-data" data-bind="2">
                                    <div class="collapsible-header"><i class="material-icons">monetization_on</i>Monto</div>
                                    <div class="collapsible-body amount-result"></div>
                                </li>
                                <li class="get-data" data-bind="3">
                                    <div class="collapsible-header"><i class="material-icons">airline_seat_flat</i>Situaci&oacute;n del testamentario</div>
                                    <div class="collapsible-body status-result"></div>
                                </li>
                                <li class="get-data" data-bind="4">
                                    <div class="collapsible-header"><i class="material-icons">alarm_on</i>Ultima verificaci&oacute;n</div>
                                    <div class="collapsible-body touch-result"></div>
                                </li>
                                <li class="get-data" data-bind="5">
                                    <div class="collapsible-header"><i class="material-icons">group</i>Heredero(s)</div>
                                    <div class="collapsible-body">
                                        <div class="counter-result div-balance"></div>
                                        <div class="counter-result span-mobile counter-result-mob"></div>
                                    </div>                                    
                                </li>                                
                            </ul>
                            <div class="center-align">
                                {{#if isOwner}}           
                                <a id="btn-fund" class="btn waves-effect waves-light blue-grey darken-4">Abonar</a>
                                <a id="btn-life" class="btn waves-effect waves-light blue-grey darken-4">Aun estoy vivo</a>            
                                {{else}}
                                <a id="btn-verify" class="btn waves-effect waves-light blue-grey darken-4">Sincronizar situaci&oacute;n del testamentario</a>
                                {{/if}}
                            </div>                             
                        </div>
                    </div>
                </div>
                <input id='id-contract' type="hidden" value="{{id}}" name="id-contract">                
            </div>            
            <div id="modal-fund" class="modal modal-for-use modal-fixed-footer">
                <div class="modal-content">
                    <div id="progress-fund" class="progress">
                        <div class="indeterminate"></div>
                    </div>                    
                    <div class="row">
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input id="amount" name="amount" type="text">
                                <label for="amount">Monto</label>
                            </div>
                            <div class="input-field">
                                <input id="password-amount" name="password-amount" type="password">
                                <label for="password-amount">Contrase&ntilde;a</label>
                            </div>  
                        </div>
                    </div>                                            
                </div>
                <div class="modal-footer">
                    <a id="btn-fund-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-fund-send" class="btn waves-effect waves-light blue darken-3">Confirmar</a>    
                </div>
            </div>
            <div id="life-confirm" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="row">
                        <h5 class="center-align">Ingresar contrase&ntilde;a</h5>
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input type="password" name="password-confirm" id="password-confirm">
                                <label for="password-confirm">Contrase&ntilde;a</label>
                            </div>                              
                        </div>
                    </div>                                      
                </div>
                <div class="modal-footer">
                    <a id="btn-life-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-life-send" class="btn waves-effect waves-light blue darken-3">Confirmar</a>                    
                </div>
            </div>
            <div id="sync-modal" class="modal modal-fixed-footer modal-for-use">
                <div class="modal-content">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
                    <div class="row">
                        <h5 class="center-align">Ingresar contrase&ntilde;a</h5>
                        <div class="col s12 m10 l10 offset-l1 offset-m1">
                            <div class="input-field">
                                <input type="password" name="password-sync" id="password-sync">
                                <label for="password-sync">Contrase&ntilde;a</label>
                            </div>                              
                        </div>
                    </div>                                      
                </div>
                <div class="modal-footer">
                    <a id="btn-sync-cancel" class="btn waves-effect waves-light modal-close red darken-3">Cancelar</a>
                    <a id="btn-sync-send" class="btn waves-effect waves-light blue darken-3">Confirmar</a>                    
                </div>
            </div>
            <div class="fixed-action-btn">
                <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
            </div>
            <div class="tap-target darken-2 red darken-2" data-activates="message">
                <div class="tap-target-content white-text center-align">
                    <h5>Tu saldo es:</h5>
                    <p id="balance" class="white-text">Espere...</p>
                </div>
            </div>
        </main>
        <footer class="page-footer blue-grey darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script src="/js/min/jquery.validate.min.js"></script>
        <script src="/js/min/additional-methods.min.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>        
        <script type="text/javascript" src="/js/main.js"></script>        
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script type="text/javascript" src="/js/contracts/preloader.js"></script>
        <script type="text/javascript" src="/js/contracts/lastWill/getParticipantData.js"></script>        
        <script type="text/javascript" src="/js/contracts/lastWill/sendFunds.js"></script>        
        <script type="text/javascript" src="/js/contracts/lastWill/lifeConfirm.js"></script>        
        <script type="text/javascript" src="/js/contracts/lastWill/sync.js"></script>        
    </body>    
</html>