<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Iniciar sesi&oacute;n</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" href="/materialize/css/login.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body> 
        {{#if error}}
        <div id="red" class="message" data-position="top">{{error}}</div>
        {{/if}}
        <header>
            <div class="fixed-announcement blue-grey darken-2">
                <nav class="top-nav blue-grey darken-4">           
                    <div class="container">                    
                        <div class="nav-wrapper">
                            <div class="center-align">
                                <span class="title-head">Sistema de contratos inteligentes</span>
                            </div>
                        </div>

                    </div>               
                </nav> 
                <div class="announcement">
                    <div class="container center">
                        <div class="center-align">
                            <span class="title-bar white-text">Iniciar sesi&oacute;n</span>
                        </div>               
                    </div>
                </div>                               
            </div>
        </header>
        <main class="valign-wrapper">          
            <div class="row">
                <div class="col s12 m8 l10 offset-l1 offset-m2">
                    <div class="card z-depth-4">
                        <div class="card-header center-align">
                            <img class="responsive-img top-space" src="/images/ethereum.png">
                        </div>
                        <div class="card-content center-align">
                            <div class="row">
                                <form id="signin" name="signin" method="post" action="/login">      
                                    <div class="input-field col s12 space">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input class="text is-input" name="email" type="email"/>                                
                                        <label for="email">Correo</label>  
                                    </div>
                                    <div class="input-field col s12">
                                        <i class="material-icons prefix">lock</i>
                                        <input name="password" class="is-input" type="password" />                               
                                        <label for="password">Contrase&ntilde;a</label>  
                                        <br><br>
                                    </div>             
                                    <button id="btn-login" class="btn waves-effect waves-light blue darken-1">Iniciar</button><br><br>                                    
                                    <a href='/create-user'>¿No tienes una cuenta?</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>   
        <footer class="page-footer blue-grey darken-4">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>                                        
        <script type="text/javascript" src="/js/toClipBoard.js"></script>        
        <script type="text/javascript" src="/js/main.js"></script>                                                                            
    </body>
</html>