<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Mis contratos</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script src="/js/min/web3.min.js"></script>        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <link type="text/css" rel="stylesheet" href="/materialize/css/messages.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body>   
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Mis contratos</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Mis contratos</a>
                        </div>
                    </div>                    
                </nav>               
            </div>
           <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="center-align content">
            {{#if message}}
            <div id="{{type}}" class="message-hidden" data-bind="{{message}}">                
            </div>
            {{/if}}
            <div class="row">
                <div class="col l10 m12 s12 offset-l1">
                    <div class="row">                        
                        {{#if contracts}}
                        {{#each contracts}}

                        <div class="col s12 m4 l4">
                            <div class="card hoverable lighten-1 z-depth-2">
                                <div class="card-image">
                                    <img class="responsive-img card-img" src="/images/contract-own.jpg">
                                    <span class="blue-grey-text bold">{{this.id}}) {{this.name}}</span>
                                </div>

                                <div class="card-action">
                                    <a href="/contracts/{{this.hash}}/{{this.route}}/belong" class="btn tooltipped blue" data-position="top" data-delay="50" data-tooltip="Consultar" id="{{this.id}}" data-bind="{{this.id}}"><i class="material-icons">search</i></a>
                                    <!--<a href="/delete/{{this.id}}" class="btn tooltipped red" data-position="top" data-delay="50" data-tooltip="Eliminar" id="{{this.id}}" data-bind="{{this.id}}"><i class="material-icons">delete</i></a>-->
                                </div>
                            </div>
                        </div>
                        {{/each}}  
                        {{else}}
                        <div class="row valign-text">
                            <div class="col s12 m10 l8 offset-m1 offset-l2 red-text lighten-3">
                              <h5>No se encontraron resultados</h5>  
                              <i class="material-icons center-align small">sentiment_very_dissatisfied</i>
                            </div>
                        </div>                        
                        {{/if}}
                    </div>
                </div>
            </div>   
            <div class="fixed-action-btn">
                <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
            </div>
            <div class="tap-target darken-2 red darken-2" data-activates="message">
                <div class="tap-target-content white-text center-align">
                    <h5>Tu saldo es:</h5>
                    <p id="balance" class="white-text">Espere...</p>
                </div>
            </div>
        </main>
        <footer class="page-footer blue-grey darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script src="/js/min/color.min.js"></script>
        <!--<script type="text/javascript" src="/js/random-image.js"></script>-->
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script type="text/javascript" src="/js/logout.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        
    </body>    
</html>