<!DOCTYPE html>
<html>    
    <head>
        <title>SC - Templates</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />        
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">     
        <link type="text/css" href="/materialize/css/messages.css" rel="stylesheet">   
        <link type="text/css" href="/materialize/css/style.css" rel="stylesheet">   
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection">
        <link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css">      
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="theme-color" content="#263238" />
    </head>

    <body> 
        <header>
            <div class="navbar-fixed">
                <nav class="top-nav nav-extended blue-grey darken-4">
                    <div class="content">
                        <a class="button-collapse top-nav full hide-on-large-only" data-activates='menu' href="#">
                            <i class="material-icons small">menu</i>
                        </a>
                        <div class="nav-wrapper left-align">
                            <a class="brand-logo center total-balance div-balance">Elegir una plantilla</a>
                            <a class="center-align total-balance span-balance font-mobil left-align">Elegir una plantilla</a>
                        </div>
                    </div>
                    <div class="nav-content center">

                    </div>
                </nav>               
            </div>
            <ul class="side-nav fixed grey lighten-2" id='menu'>
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="/images/dark_material.png">
                        </div>                        
                        <a class="white-text"><img class="circle responsive-img" src="/images/eth.jpg"></a>                        
                        {{#if data}}                         
                        <a id="copy-to" data-bind="{{data.id}}" class="btn btn-flat tooltipped waves-effect waves-light white-text" data-position="top" data-delay="50" data-tooltip="Copiar mi dirección">
                            <i class="material-icons left">content_copy</i>Direcci&oacute;n wallet
                        </a>
                        <a><span class="white-text email">{{data.email}}</span></a>                        
                        {{else}}
                        <a><span class="white-text name">ETHEREUM</span></a>
                        <a><span class="white-text email">WALLET</span></a>                        
                        {{/if}}
                    </div>
                </li>                 
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/" class="collapsible-header">Crear contrato<i class="material-icons">note_add</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/manage-contracts" class="collapsible-header">Mis contratos<i class="material-icons">library_books</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/contracts/participant" class="collapsible-header">Gestionar<i class="material-icons">assignment_ind</i></a>

                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a href="/logout" class="collapsible-header red-text">Cerrar sesión<i class="material-icons red-text">exit_to_app</i></a>

                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <main class="center-align content">  
            {{#if message}}
            <div id="modal-notification" class="modal modal-formsg blue-grey darken-4 valign-wrappe">
                <div class="modal-content valign-wrapper my-wrapper">
                    <div class="row valign-wrappe">
                        <div class="col l4 s12 m3 center-align">
                            <i class="material-icons md-88 white-text">beenhere</i>
                        </div>
                        <div class="col l8 s12 m9 center-align center-align">
                            <div class="span-mobile">
                                <h5 class="white-text">{{message}}</h5>
                                <h6 class="white-text">{{data.email}}</h6>
                            </div>                        
                            <div class="div-balance">
                                <h1 class="white-text">{{message}}</h1>
                                <h5 class="white-text">{{data.email}}</h5>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
            {{/if}}
            <div class="row">
                <div class="col l10 m10 s12 offset-l1 offset-m1">
                    <div class="row">
                        <div class="col s12 l4 m4">
                            <div class="card hoverable z-depth-3">
                                <div class="card-image">
                                    <img class="responsive-img" src="/images/shopping.jpg">
                                    <span class="card-title">Contrato de venta</span>
                                </div>
                                <div class="card-content">
                                    Este contrato gestiona una venta.
                                </div>
                                <div class="card-action">
                                    <a href="/manage-contracts/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card hoverable z-depth-3">
                                <div class="card-image">
                                    <img src="/images/last-will.jpg">
                                    <span class="card-title">Testamento</span>
                                </div>
                                <div class="card-content">
                                    Este contrato gestiona un testamento.
                                </div>
                                <div class="card-action">
                                    <a href="/manage-contracts/last-will/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>                        
                        <div class="col s12 l4 m4">
                            <div class="card hoverable z-depth-3">
                                <div class="card-image">
                                    <img src="/images/rings.jpg">
                                    <span class="card-title">Matrimonio</span>
                                </div>
                                <div class="card-content">
                                    Este contrato gestiona un testamento.
                                </div>
                                <div class="card-action">
                                    <a href="/contracts/marriage/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card hoverable z-depth-3">
                                <div class="card-image">
                                    <img class="responsive-img" src="/images/last-will-v2.jpg">
                                    <span class="card-title">Testamento v2</span>
                                </div>
                                <div class="card-content">
                                    Este contrato gestiona un testamento.
                                </div>
                                <div class="card-action">
                                    <a href="/manage-contracts/last-will-v2/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 l4 m4">
                            <div class="card hoverable z-depth-3">
                                <div class="card-image">
                                    <img src="/images/wedding.jpg">
                                    <span class="card-title">Matrimonio v2</span>
                                </div>
                                <div class="card-content">
                                    Este contrato gestiona un matrimonio.
                                </div>
                                <div class="card-action">
                                    <a href="/contracts/marriage-v2/create" class="blue-text">Elegir</a>
                                </div>
                            </div>
                        </div>                        
                    </div>                    
                </div>                
            </div>
            <div class="fixed-action-btn">
                <a id="message" class="btn btn-floating btn-large darken-2 red darken-2 pulse"><i class="material-icons">attach_money</i></a>
            </div>
            <div class="tap-target darken-2 red darken-2" data-activates="message">
                <div class="tap-target-content white-text center-align">
                    <h5>Tu saldo es:</h5>
                    <p id="balance" class="white-text">Espere...</p>
                </div>
            </div>
        </main>   

        <footer class="page-footer blue-grey darken-4 content">
            <div class="container">                
            </div>
            <div class="footer-copyright">
                <div class="container center-align">
                    2018            
                </div>
            </div>
        </footer>
        <script src="/js/min/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
        <script type="text/javascript" src="/js/min/pagination.min.js"></script>
        <script type="text/javascript" src="/js/toClipBoard.js"></script>
        <script type="text/javascript" src="/js/min/pagination.js"></script>        
        <script type="text/javascript" src="/js/contracts/index.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
        <script type="text/javascript" src="/js/messages.js"></script>
        <script src="/js/min/jquery.validate.min.js"></script>                        
    </body>
</html>
